.container {
    display: flex;
    padding: 10px;
    padding: 150px 0;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.banner1 {
    width: 78%;
}

.banner1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.banner2 {
    width: 18%;
    transition: 0.2s ease;
}

.banner2:hover {
    filter: contrast(0.9);
    cursor: pointer;
}

.banner2 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
@media screen and (max-width: 986px) {
    .banner2 img {
        display: none;
    }
    .banner1 {
        width: 100%;
    }
    
}